<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <h1 class="text-center">Add a product</h1>


      <%= simple_form_for @product do |f| %>
      <%= f.input :name, placeholder:"Kudoz", label:"Which product?" %>
      <%= f.input :url, placeholder:"http://kudoz.com", label:"Which url?" %>
      <%= f.button :submit, "Submit", class:"btn btn-primary" %>

      <% end %>

<!-- sans le helper form_for
      <form action="/products" type="post">

        <div class="form-group">
          <label for="name">Enter a product name</label>
          <input type="text" class="form-control" name="product[name]" placeholder="Kudoz" id="name">
        </div>

        <div class="form-group">
          <label for="url">Enter a product url</label>
          <input type="text" class="form-control" name="product[url]" placeholder="http://kudoz.com" id="url">
        </div>

          <input type="submit" value="submit" class="btn btn-primary">

      </form>
-->

    </div>
  </div>
</div>
